*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg,#0f2027,#203a43,#4a57b7);

}
.container{
    width:350;
    padding:30px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(12px);
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0,0,0,0.4);
}

.container h1{
    text-align: center;
    color: white;
    margin-bottom: 25px;
}

.input-box{
    margin-bottom: 15px;
}

.input-box input{
    width:100%;
    padding: 12px 15px;
    border-radius: 25px;
    border: none;
    outline: none;
    background: rgba(255,255,255,0.2);
    color: white;
    font-size: 15px;
}

.input-box input::placeholder{
    color:#ddd;
}

.rem-for{
    display: flex;
    align-items: center;
    gap: 8px;
    color: #eee;
    font-size: 14px;
    margin: 10px 0px;
}

a{
    display: block;
    text-align: right;
    color: #00d4ff;
    font-size: 14px;
    text-decoration: none;
    margin-bottom: 20px;
}

a:hover{
    text-decoration: underline;
}

.btn{
    width:100%;
    padding: 12px;
    border-radius: 25px;
    border: none;
    background: linear-gradient(135deg,#00d4ff,#0066ff);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 15px #00d4ff;
}
